<html>

<head>
  <style>
    .logo_wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  </style>
</head>

<body>
  <div class="logo_wrapper">
    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="13.3333in" height="6.66666in" version="1.1"
      style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
      viewBox="0 0 13333 6667" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        <style type="text/css">
          <![CDATA[
          .str0 {
            stroke: #FB5A1F;
            stroke-width: 6.94488
          }

          .fil0 {
            fill: #FB5A1F
          }
          ]]>
        </style>
      </defs>
      <g id="Layer_x0020_1">
        <metadata id="CorelCorpID_0Corel-Layer" />
        <path class="fil0 str0"
          d="M5644 1794l1203 0c106,0 193,87 193,192l0 352c0,106 -87,192 -193,192l-1203 0c-106,0 -193,-86 -193,-192l0 -352c0,-105 87,-192 193,-192zm-1324 -626l414 0c106,0 192,87 192,193l0 1464c9,44 15,71 24,95 10,28 24,50 44,73 19,22 43,45 93,56 48,11 121,11 206,11l12 0 1701 0 0 631c0,106 -87,192 -192,192l-1888 0 -29 0c-423,0 -770,-346 -770,-770l0 -1752c0,-106 87,-193 193,-193zm-636 1911l-2282 0c-13,0 -47,0 -66,0 -21,-3 -42,-3 -63,-7 -89,-39 -150,-115 -150,-344 0,-101 -87,-193 -193,-193l-426 0c-106,0 -193,87 -193,193l0 351 -2 0 0 15c0,17 1,33 2,50l0 1 0 0c26,400 362,719 769,719l2412 0c105,0 192,-87 192,-192l0 -593zm-1433 1407l1204 0c106,0 192,86 192,192l0 187c1,3 1,5 1,8l0 493c0,114 -94,207 -208,207l-379 0c-114,0 -208,-93 -208,-207l0 -144 -602 0c-106,0 -192,-86 -192,-192l0 -352c0,-106 86,-192 192,-192z" />
        <path class="fil0 str0"
          d="M9244 808l2593 0c653,0 1187,534 1187,1186l0 2678c0,653 -534,1187 -1187,1187l-2593 0c-653,0 -1187,-534 -1187,-1187l0 -2678c0,-652 534,-1186 1187,-1186zm1634 2508l24 1510c3,219 -174,402 -393,406l0 0c-220,3 -402,-174 -406,-393l-23 -1510c-4,-220 173,-402 392,-406l0 0c220,-3 402,173 406,393zm1222 198l0 0c-152,152 -401,152 -553,0l-576 -576c-35,-33 -72,-67 -108,-99 -77,-69 -153,-127 -222,-159 -68,-32 -130,-39 -192,-30 -63,9 -127,33 -207,83 -80,50 -176,126 -264,203 -88,78 -168,158 -246,238 -34,34 -68,69 -93,91l-219 219c-152,152 -401,152 -553,0l0 0c-152,-152 -152,-401 0,-554l1041 -1040c2,-3 5,-5 7,-8l0 0 253 -252c165,-165 436,-165 602,0l1330 1331c152,152 152,401 0,553z" />
      </g>
    </svg>
  </div>
</body>

</html>